<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      
    </div><!-- End Page Title -->
    <div class="container">
      <div class="row">
        
        <div class="col-lg-5 offset-11">
    
          
            <a class="btn btn-secondary btn-sm" href="/addproduct/">Add Product</a>
            <a class="btn btn-secondary btn-sm" href="/viewproduct/">View Product</a>
            <a class="btn btn-secondary btn-sm" href="/addcat/">Add Category</a>
            <a class="btn btn-secondary btn-sm" href="/dashboard/">Dashboard</a>
          
        </div>
        
      </div>
      
{% block content %}

{% endblock content %}
  </main>
